</br>
</br>
</br>

<input id="txtNombre" style=" position: fixed; bottom: 89%; width: 50%; right: 20%;" placeholder="Nombre Video" name="nombre" type="text" class="form-control" />

<div>
<br />
<form method="post" target="browser" runat="server">
<input type="button" value="Buscar" onclick="LinkYT(); "
class="btn btn-primary btn-block" style= "position: fixed; bottom: 89%; right: 10%; width: 100px;"/>
<br />
</form>
</div>

<a href= "http://localhost:3000/gestionBiblioteca" class="btn btn-primary btn-lg">Gestión Biblioteca</a>
</br>
</br>
</br>
<a href= "http://localhost:3000/gestionBiblioteca" class="btn btn-primary btn-lg">Visualización Biblioteca</a>
</br>
</br>
</br>
<a href= "http://localhost:3000/gestionBiblioteca" class="btn btn-primary btn-lg">Listas de Reproducción</a>



