<!DOCTYPE html>
<html>

<script src="https://www.youtube.com/player_api"></script> <!-- script para la busqueda-->

</br>
</br>
</br>

<a style= "position: fixed; bottom: 89%; right: 90%; width: 100px;" href= "http://localhost:3000" class="btn btn-primary btn-block"> Regresar </a>


<input name= "Aux" class="form-control" type="text" id="Aux" value= {{lista}} style= "position: fixed; bottom: 89%; width: 40%; right: 20%;" > </input>


<!-- Elementos para los distintos videos de la cola-->

<div id="video-youtube1" style= "position: fixed; bottom: 35%; right: 50%;"> </div>
<div id="video-youtube2" style= "position: fixed; bottom: 35%; right: 50%;"></div>
<div id="video-youtube3" style= "position: fixed; bottom: 35%; right: 50%;"></div>
<div id="video-youtube4" style= "position: fixed; bottom: 35%; right: 50%;"></div>
<div id="video-youtube5" style= "position: fixed; bottom: 35%; right: 50%;"></div>
<div id="video-youtube6" style= "position: fixed; bottom: 35%; right: 50%;"></div>
<div id="video-youtube7" style= "position: fixed; bottom: 35%; right: 50%;"></div>
<div id="video-youtube8" style= "position: fixed; bottom: 35%; right: 50%;"></div>
<div id="video-youtube9" style= "position: fixed; bottom: 35%; right: 50%;"></div>
<div id="video-youtube10" style= "position: fixed; bottom: 35%; right: 50%;"></div>

<form id="reproducir" >
    <div class="form-group">
        <input class="btn btn-primary btn-block" type="submit" value="Reproducir" style= "position: fixed; bottom: 30%; right: 15%; width: 150px;">
    </div>
</form>


<div class="container">
    <!-- Form para la busqueda de las playlist-->
    <form action="/listasReproduccion/buscar" method ="POST">
        <input name= "playList" class="form-control" type="text" id="search" style=" position: fixed; bottom: 89%; width: 50%; right: 20%;" placeholder="Nombre PlayList" required>
        <div class="form-group">
            <button type="submit" class= "btn btn-primary btn-block" style= "position: fixed; bottom: 89%; right: 10%; width: 100px;">
                Buscar
            </button>
        </div>
    </form>

    <div class = "col-md-3" style= "position: fixed; right: 10%;">
        <div class="card">
            <div class="card-body">
                {{#each rows}}
                    <p>{{titulo}}</p> <!-- Titulos de los videos de la cola-->
                {{/each}}            
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <div id="videos"> <!-- Elemento para agregar los videos-->

            </div>
        </div>
    </div>

</div>


<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script> <!-- src para realizar la busqueda de videos-->

</html>

<script>
   $(document).ready(function () {
    var i = 1;
    var nombreId = "video-youtube";
    var Id = "";
    var player;

    $("#reproducir").submit(function(event){
        event.preventDefault()

        var lista;
        var temporal;
        var nuevoAux;
        temporal = $("#Aux").val();
        //Id del video a reproducir
        lista = temporal[0] + temporal[1] + temporal[2] + temporal[3] + temporal[4] + temporal[5] + temporal[6] + temporal[7] + temporal[8] + temporal[9] + temporal[10];  
        if (temporal.length == 11){
            nuevoAux = "";
        }
        else{
            nuevoAux = temporal.substring(11, temporal.length); //Cortar cola de reproducci贸n
        }
        $("#Aux").val(nuevoAux);
        console.log(nuevoAux);

        Id = nombreId + i.toString();
        i = i + 1;
        player = new YT.Player(Id, { //Crear nuevo objeto de reproducci贸n
            height: '350',
            width: '600',
            videoId: lista,
            events: {
                'onReady': onAutoPlay,
                'onStateChange': onFinish
            }
        });
    })

    function onAutoPlay(event) {
        event.target.playVideo();
    }

    function onFinish(event) {        
        if(event.data === 0) { 
            var lista;
            var temporal;
            var nuevoAux;
            temporal = $("#Aux").val();
            //Id del video a reproducir
            lista = temporal[0] + temporal[1] + temporal[2] + temporal[3] + temporal[4] + temporal[5] + temporal[6] + temporal[7] + temporal[8] + temporal[9] + temporal[10];  
            if (temporal.length == 11){
                nuevoAux = "";
            }
            else{
                nuevoAux = temporal.substring(11, temporal.length); //Cortar cola de reproducci贸n
            }
            $("#Aux").val(nuevoAux);
            console.log(lista);
            
            Id = nombreId + i.toString();
            i = i + 1;
            player = new YT.Player(Id, { //Crear nuevo objeto de reproducci贸n
            height: '350',
            width: '600',
            videoId: lista,
            events: {
                'onReady': onAutoPlay,
                'onStateChange': onFinish
            }
            }); 
        }
    }

    }
);
</script>

