<!DOCTYPE html>
<html>

<script src="https://www.youtube.com/player_api"></script>

</br>
</br>
</br>

<a style= "position: fixed; bottom: 89%; right: 90%; width: 100px;" href= "http://localhost:3000" class="btn btn-primary btn-block"> Regresar </a>


<input name= "Aux" class="form-control" type="text" id="Aux" value= {{lista}} style= "position: fixed; bottom: 89%; width: 40%; right: 20%;" > </input>


<div id="video-youtube1" style= "position: fixed; bottom: 35%; right: 50%;"> </div>
<div id="video-youtube2" style= "position: fixed; bottom: 35%; right: 50%;"></div>
<div id="video-youtube3" style= "position: fixed; bottom: 35%; right: 50%;"></div>
<div id="video-youtube4" style= "position: fixed; bottom: 35%; right: 50%;"></div>
<div id="video-youtube5" style= "position: fixed; bottom: 35%; right: 50%;"></div>
<div id="video-youtube6" style= "position: fixed; bottom: 35%; right: 50%;"></div>
<div id="video-youtube7" style= "position: fixed; bottom: 35%; right: 50%;"></div>
<div id="video-youtube8" style= "position: fixed; bottom: 35%; right: 50%;"></div>
<div id="video-youtube9" style= "position: fixed; bottom: 35%; right: 50%;"></div>
<div id="video-youtube10" style= "position: fixed; bottom: 35%; right: 50%;"></div>

<form id="reproducir" >
    <div class="form-group">
        <input class="btn btn-primary btn-block" type="submit" value="Reproducir" style= "position: fixed; bottom: 30%; right: 15%; width: 150px;">
    </div>
</form>


<div class="container">
    <form action="/listasReproduccion/buscar" method ="POST">
        <input name= "playList" class="form-control" type="text" id="search" style=" position: fixed; bottom: 89%; width: 50%; right: 20%;" placeholder="Nombre PlayList" required>
        <div class="form-group">
            <button type="submit" class= "btn btn-primary btn-block" style= "position: fixed; bottom: 89%; right: 10%; width: 100px;">
                Buscar
            </button>
        </div>
    </form>

    <div class = "col-md-3" style= "position: fixed; right: 10%;">
        <div class="card">
            <div class="card-body">
                {{#each rows}}
                    <p>{{titulo}}</p>
                {{/each}}            
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <div id="videos">

            </div>
        </div>
    </div>

</div>


<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

</html>

<script>
   $(document).ready(function () {
    var i = 1;
    var nombreId = "video-youtube";
    var Id = "";
    var player;

    $("#reproducir").submit(function(event){
        event.preventDefault()

        var lista;
        var temporal;
        var nuevoAux;
        temporal = $("#Aux").val();
        lista = temporal[0] + temporal[1] + temporal[2] + temporal[3] + temporal[4] + temporal[5] + temporal[6] + temporal[7] + temporal[8] + temporal[9] + temporal[10];  
        if (temporal.length == 11){
            nuevoAux = "";
        }
        else{
            nuevoAux = temporal.substring(11, temporal.length);
        }
        $("#Aux").val(nuevoAux);
        console.log(nuevoAux);

        Id = nombreId + i.toString();
        i = i + 1;
        player = new YT.Player(Id, {
            height: '350',
            width: '600',
            videoId: lista,
            events: {
                'onReady': onAutoPlay,
                'onStateChange': onFinish
            }
        });
    })

    function onAutoPlay(event) {
        event.target.playVideo();
    }

    function onFinish(event) {        
        if(event.data === 0) { 
            var lista;
            var temporal;
            var nuevoAux;
            temporal = $("#Aux").val();
            lista = temporal[0] + temporal[1] + temporal[2] + temporal[3] + temporal[4] + temporal[5] + temporal[6] + temporal[7] + temporal[8] + temporal[9] + temporal[10];  
            if (temporal.length == 11){
                nuevoAux = "";
            }
            else{
                nuevoAux = temporal.substring(11, temporal.length);
            }
            $("#Aux").val(nuevoAux);
            console.log(lista);
            
            Id = nombreId + i.toString();
            i = i + 1;
            player = new YT.Player(Id, {
            height: '350',
            width: '600',
            videoId: lista,
            events: {
                'onReady': onAutoPlay,
                'onStateChange': onFinish
            }
            }); 
        }
    }

    }
);
</script>

<script>
    /*
  $(document).ready(function () {
    var API_KEY = "AIzaSyC0-N_PiUe-GoKbCCDSJPB_KG-SK53SE-s";
    var video = ''
    var datos = ''

    $("#reproducir").submit(function(event){
        event.preventDefault()

        var search = $("#search").val()

        var id = search[32] + search[33] + search[34] + search[35] + search[36] + search[37] + search[38] + search[39] + search[40] + search[41] + search[42]

        console.log("Link:" + search, "   ID:" + id)

        videosSearch(API_KEY,id)

    })

    function videosSearch(key, id){
      document.getElementById("videos").innerHTML = "";
      
      $.get("https://www.googleapis.com/youtube/v3/videos?&type=video&part=snippet&id=" + id + "&key=" + key, function(data){
        console.log(data)

        data.items.forEach(item => {
 

            video = `<iframe width="700" height="450" src="https://www.youtube.com/embed/${id}" frameborder="0" allowfullscreen></iframe>`
            $("#videos").append(video)
        });
      })
    }
  }
);*/
</script>



