<!DOCTYPE html>
<html>

<a style= "position: fixed; bottom: 89%; right: 90%; width: 100px;" href= "http://localhost:3000" class="btn btn-primary btn-block"> Regresar </a>

</br>
</br>
</br>

<div class="container">
    
    <div class="row">
        <div class="col-md-12">
            <div id="videos">
                {{#each rows}}
                    <iframe width="350" height="350" src="https://www.youtube.com/embed/{{id_video}}" frameborder="0" allowfullscreen> </iframe> <!-- Insertar los videos al elemento-->
                {{/each}}
            </div>
        </div>
    </div>

</div>


</html>