<!DOCTYPE html>
<html>

</br>
</br>
</br>

<a style= "position: fixed; bottom: 89%; right: 90%; width: 100px;" href= "http://localhost:3000" class="btn btn-primary btn-block"> Regresar </a>

<div class="container">
    <form action="/visualizacionBiblioteca/buscar" method ="POST">
        <input name= "playList" class="form-control" type="text" id="search" style=" position: fixed; bottom: 89%; width: 50%; right: 20%;" placeholder="Nombre PlayList" required>
        <div class="form-group">
            <button type="submit" class= "btn btn-primary btn-block" style= "position: fixed; bottom: 89%; right: 10%; width: 100px;">
                Buscar
            </button>
        </div>
    </form>


    <div class = "col-md-3" style= "position: fixed; right: 10%;">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title d-flex justify-content-between align-items-center", id="Prueba">
                    {{#each rows}}
                        <p>{{titulo_video}}</p>
                    {{/each}}
                </h4>              
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <div id="videos">
                {{#each rows}}
                    <iframe width="350" height="350" src="https://www.youtube.com/embed/{{id_video}}" frameborder="0" allowfullscreen> </iframe>
                {{/each}}
            </div>
        </div>
    </div>

    <div>
        <form method="post" target="browser" runat="server">
            <input type="button" value="Eliminar" onclick="LinkYT(); "
            class="btn btn-primary btn-block" style= "position: fixed; bottom: 5%; right: 10%; width: 100px;"/>
        </form>
    </div>

    <input id="txtListaReproduccion" style= "position: fixed; bottom: 5%; right: 20%; width: 50%" placeholder="nombre cancion" name="listaReproduccion" type="text" class="form-control" />
</div>

