<!DOCTYPE html>
<html>

</br>
</br>
</br>

<a style= "position: fixed; bottom: 89%; right: 90%; width: 100px;" href= "http://localhost:3000" class="btn btn-primary btn-block"> Regresar </a>

<div class="container">
    <form action="/visualizacionBiblioteca/buscar" method ="POST">
        <input name= "playList" class="form-control" type="text" id="search" style=" position: fixed; bottom: 89%; width: 50%; right: 20%;" value= {{playList}} required>
        <div class="form-group">
            <button type="submit" class= "btn btn-primary btn-block" style= "position: fixed; bottom: 89%; right: 10%; width: 100px;">
                Buscar
            </button>
        </div>
    </form>


    <div class = "col-md-2" style= "position: fixed; right: 10%;">
        <div class="card">
            <div class="card-body">
                {{#each rows}}
                    <p>{{titulo}}</p>
                {{/each}}            
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <div id="videos">
                {{#each rows}}
                    <iframe width="350" height="350" src="https://www.youtube.com/embed/{{id_video}}" frameborder="0" allowfullscreen> </iframe>
                {{/each}}
            </div>
        </div>
    </div>

</div>

